<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.nttdata.training.management"
	version 	= "1.0.0">

	<name>Training Management</name>

	<description>
		This application helps to register for a training in NTT Data
	</description>

	<author href="https://github.com/sarasdeva/"
		email="saravanan.devarajan@nttdata.com">
		Saravanan Devarajan
	</author>

	<icon src="train-icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<preference name="orientation" value="portrait" />
</widget>
